spring:
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/itsdemo
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: 'true'
        format_sql: true
    hibernate:
      ddl-auto: validate
    show-sql: true
